body {
  font-family: "Avenir Next";
}

/* Ganti background-color header menjadi #f7f2b4 dan height menjadi 90px */
.header{
  height : 90px;
  background-color : #f7f2b4;
}

/* Ganti background-color main menjadi #bdf7f1 dan height menjadi 600px */
.main{
  height : 600px;
  background-color : #bdf7f1;
}

/* Ganti background-color footer menjadi #ceccf3 dan height menjadi 270px */
.footer{
  height : 270px;
  background-color : #ceccf3;
}
